* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > div {
  width: 100%;
  max-width: 601px;
  margin: auto auto;
  padding: 10px;
}

.ar {
  direction:rtl;
}

.basmala {
  text-align:center;
  padding-top: 0;
}

.header, .footer {
  display: flex;
  flex-flow: row wrap;
}

a {
  text-decoration-line:  none;
}

a:hover {
  text-decoration-line:  underline;
}

.header > a, .footer > a {
  padding: 0 5px;
}

pre {
  overflow-y: scroll;
  background-color: #d4d4d4;
}

/* Hide scrollbar for Chrome, Safari and Opera */
pre::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
pre {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

code {
  background-color: #d4d4d4;
}

blockquote {
  border-left: 5px solid grey;
  padding: 5px 20px;
}

hr {
  width: inherit;
  border: none;
  border-top: 1px solid black;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: auto !important;
  max-width: 100% !important;
}

th, td {
  border-bottom: 1px solid black;
}

tr:nth-of-type(2n) {
  background: #e7e7e7;
}
